footer
    div.menu-footer
        ul
            li
                a Copiright Notice
            li
                a Contac Us
            li
                a About Us
            li
                a Careers
        div.suscribcion
            .container
                span NEWSLETTER
                input(type="text" placeholder="ENTER YOUR EMAIL TO SIGN UP")
                button suscribe
        div.flecha-superior
            i.fa.fa-arrow-up(aria-hidden='true')
    div.menu-footer-sub
        span © 2017 Arduino
        nav
            ul.menu
                li 
                    a
                        i.fa.fa-twitter(aria-hidden='true')
                li
                    a
                        i.fa.fa-google-plus(aria-hidden='true')
                li
                    a
                        i.fa.fa-facebook(aria-hidden='true')
                li
                    a
                        i.fa.fa-youtube(aria-hidden='true')
                li
                    a
                        i.fa.fa-instagram(aria-hidden='true')
                li
                    a
                        i.fa.fa-flickr(aria-hidden='true')
                li
                    a
                        i.fa.fa-github(aria-hidden='true')
script(src="js/app.js?v=1.4")   