header
    .container-header
        .header-logo
            a.container-logos(href="#")
                img.arduino-logo(src="img/arduino_logo.svg")
                img.arduino-logo-compressed(src="img/arduino_logo_compressed.svg")
        .header-menu
            .container-menu
                ul.menu
                    li
                        a(href="#") home
                    li
                        a(href="#") buy
                    li
                        a(href="#") software
                    li.submenu
                        a(href="#") products
                        ul.submenu-menu
                            li
                                a(href="#") arduino
                            li
                                a(href="#") atheart
                            li
                                a(href="#") certified
                    li.submenu
                        a(href="#") learning
                        ul.submenu-menu
                            li
                                a(href="#") getting started
                            li
                                a(href="#") tutorials
                            li
                                a(href="#") reference
                            li
                                a(href="#") education
                    li.submenu
                        a(href="#") community
                        ul.submenu-menu
                            li
                                a(href="#") forum
                            li
                                a(href="#") blog
                            li
                                a(href="#") project hub
                            li
                                a(href="#") user groups
                            li
                                a(href="#") playground
                    li.submenu
                        a(href="#") support
                        ul.submenu-menu
                            li
                                a(href="#") faq
                            li
                                a(href="#") contact us
                            li
                                a(href="#") store support
            .container-login
                a.search(href="#")
                    i.fa.fa-search.fa-lg(aria-hidden='true')
                a.shoping(href="#")
                    i.fa.fa-shopping-cart.fa-lg(aria-hidden='true')
                span
                    a.hover-blanco(href="#") sign in
                a.burguer-menu(href="#")
                    i.fa.fa-bars.fa-lg(aria-hidden='true')


