header
    .container-header
        div.header-logo
            img(src="img/arduino_logo.svg")
        nav.nav-header
            ul
                li  
                    a home
                li
                    a buy
                li
                    a software
                li
                    a products
                li
                    a learning
                li
                    a community
                li
                    a support
        div.header-login
            i.fa.fa-search(aria-hidden='true')
            i.fa.fa-shopping-cart(aria-hidden='true')
            span sign in