header
    .container-header
        .header-logo
            a(href="#")
                img.arduino-logo(src="img/arduino_logo.svg")
                img.arduino-logo-compressed(src="img/arduino_logo_compressed.svg")
        .header-menu
            .container-menu
                ul
                    li
                        a(href="#") home
                    li
                        a(href="#") buy
                    li
                        a(href="#") software
                    li
                        a(href="#") products
                    li
                        a(href="#") learning
                    li
                        a(href="#") community
                    li
                        a(href="#") support
            .container-login
                a.search(href="#")
                    i.fa.fa-search.fa-lg(aria-hidden='true')
                a.shoping(href="#")
                    i.fa.fa-shopping-cart.fa-lg(aria-hidden='true')
                span
                    a.hover-blanco(href="#") sign in
                a.burguer-menu(href="#")
                    i.fa.fa-bars.fa-lg(aria-hidden='true')


