header{
    height: 56px;
    margin: 0 0 20px 0;
    @media screen and (min-width: 1025px) {
        height: 120px;
        margin: 0 0 40px 0;
        transition: .5s;
    }
    .container-header{
        background: $verde;
        display: flex;
        height: inherit;
        position: fixed;
        width: 100%;
        z-index: 1000;
        .header-logo{
            height: inherit;
            a{
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 20px;
                width: 92px;
                @media screen and (min-width: 1025px) {
                    width: 200px;
                    padding: 0 30px;
                    &:hover{
                        background: #7fcbcd;
                    }
                }
                .arduino-logo{
                    display: none;
                    @media screen and (min-width: 1025px) {
                        display: initial;
                        height:100px;
                        transition: .1s;
                    }
                }
                .arduino-logo-compressed{
                    height: 30px;
                    @media screen and (min-width: 1025px) {
                        display: none;
                        transition: .1s;
                    }
                }
                .scroll-logo{
                    @media screen and (min-width: 1025px) {
                        display: none;
                        transition: .1s;
                    }
                }

                .scroll-logo-compressed{
                    @media screen and (min-width: 1025px) {
                        display: initial;
                        transition: .1s;
                    }
                }

            }
            .scroll{
                @media screen and (min-width: 1025px) {
                    width: 112px;
                    padding: 0 20px;
                    margin-right: 30px;
                    transition: .1s;
                }
            }
        }
        .header-menu{
            flex-grow: 1;
            display: flex;
            align-items: center;
            @media screen and (min-width: 1025px) {
                flex-direction: column-reverse;
                align-items: initial;
            }
            .container-menu{
                display: flex;
                justify-content: flex-end;
                @media screen and (min-width: 1201px) {
                    justify-content: center;
                }

                .menu{
                    display: none;
                    @media screen and (min-width: 1025px) {
                        display: flex;
                        padding: 0 10px 0 0;
                    }
                    @media screen and (min-width: 1201px) {
                        padding-right: 200px;
                        justify-content: center;
                    }
                    li{
                        display: flex;
                        &:hover{
                            background: #7fcbcd;
                            color: #005c5f;
                        }
                        a{
                            color: white;
                            padding: 16px 10px;
                            font-size: 13px;
                            letter-spacing: 2px;
                            font-weight: 600;
                        }
                    }
                    .submenu{
                        position:relative;
                        &:hover{
                            ul{
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .submenu-menu{
                            position: absolute;
                            display: none;
                            top: 46px;
                            padding: 0;
                            li{
                                width: max-content;
                                border-bottom: 1px solid #a5f2ee;
                                a{
                                    background: #7fcbcd;
                                    color: #005c5f;
                                    font-size: 11px;
                                    letter-spacing: 3px;
                                    font-weight: 600;
                                    &:hover{
                                        background: $verde;
                                        color: white;
                                    }
                                }
                            &:last-child{
                                border-bottom: none;
                            }
                            }

                        }
                        .scroll{
                            top: 54px;
                        }
                    }
                }
            }
            .scroll-menu{
                @media screen and(min-width:1025px) {
                    flex: 1;
                    justify-content: center;
                    .menu{
                        padding: 0;
                    }
                }
            }
            .container-login{
                flex: 2;
                display: flex;
                justify-content: flex-end;
                @media screen and (min-width: 1025px) {
                    padding: 0 10px 0 0;
                }
                a{
                    display: flex;
                    align-items: center;
                    color: white;
                    padding: 0 20px;
                    height: 100%;
                    @media screen and (min-width: 1025px) {
                        align-items:initial;
                        padding: 18px 12px;
                        height: 50px;
                    }
                }
                .search{
                    display: none;
                    @media screen and (min-width: 480px) {
                        display: flex;
                    }

                }
                .burguer-menu{
                    @media screen and (min-width:1025px) {
                        display: none;
                    }
                }
                .shoping{
                    @media screen and (min-width:1025px) {
                        &:hover{
                            background: #7fcbcd;
                        }
                    }
                }
                span{
                    display: none;
                    font-size: 14px;
                    font-weight: 600;
                    width: 100px;
                    @media screen and (min-width: 780px) {
                        display: initial;
                        width: initial;

                    }
                    a{
                        letter-spacing: 2px;
                        width:initial;
                        @media screen and (min-width: 1025px) {
                            padding: 20px 10px;
                            &:hover{
                                background: #7fcbcd;
                            }
                        }
                    }

                }
            }
            .scroll{
                @media screen and (min-width: 1025px) {
                    flex: none;
                }
            }
        }
        .scroll{
            @media screen and (min-width: 1025px) {
                flex-direction: row;
                flex-grow: 1;
                transition: .1s;
            }
        }
    }
}
.scroll{
    @media screen and (min-width: 1025px) {
        height: 54px;
        transition: .5s;
    }

}

